#forex .container{
  padding-top: 10%;
  width:50vw;
  margin:0 auto;
}
#forex .header{
  text-align:center;
}
#forex .betrag{
  display:flex;
  justify-content: space-evenly;
}
#forex .main{
  padding-top:20%;
}
#forex .ergebnis{
  text-align:center;
}
#forex .date{
  padding-top:10%;
  font-size:1em;
}
#forex .button{
  margin-top:5%;
  border-radius:15px;
  padding:5px 10px;
}
#forex #currency1{
  border-radius:10px;
  padding:5px 10px;
}
#forex #input-button{
  border-radius:15px;
  padding:7px 10px;
}